@{
    ViewData["Title"] = "Home Page";
}
<style>

    .fullscreen {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        z-index: 100;
    }

    #loading {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .windows8 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 120px;
        height: 120px;
        margin: auto;
    }

        .windows8 .wBall {
            position: absolute;
            width: 114px;
            height: 114px;
            opacity: 0;
            transform: rotate(225deg);
            -o-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            -webkit-transform: rotate(225deg);
            -moz-transform: rotate(225deg);
            animation: orbit 4.8425s infinite;
            -o-animation: orbit 4.8425s infinite;
            -ms-animation: orbit 4.8425s infinite;
            -webkit-animation: orbit 4.8425s infinite;
            -moz-animation: orbit 4.8425s infinite;
        }

            .windows8 .wBall .wInnerBall {
                position: absolute;
                width: 15px;
                height: 15px;
                background: rgb(0,0,0);
                left: 0px;
                top: 0px;
                border-radius: 15px;
            }

        .windows8 #wBall_1 {
            animation-delay: 1.056s;
            -o-animation-delay: 1.056s;
            -ms-animation-delay: 1.056s;
            -webkit-animation-delay: 1.056s;
            -moz-animation-delay: 1.056s;
        }

        .windows8 #wBall_2 {
            animation-delay: 0.203s;
            -o-animation-delay: 0.203s;
            -ms-animation-delay: 0.203s;
            -webkit-animation-delay: 0.203s;
            -moz-animation-delay: 0.203s;
        }

        .windows8 #wBall_3 {
            animation-delay: 0.4265s;
            -o-animation-delay: 0.4265s;
            -ms-animation-delay: 0.4265s;
            -webkit-animation-delay: 0.4265s;
            -moz-animation-delay: 0.4265s;
        }

        .windows8 #wBall_4 {
            animation-delay: 0.6295s;
            -o-animation-delay: 0.6295s;
            -ms-animation-delay: 0.6295s;
            -webkit-animation-delay: 0.6295s;
            -moz-animation-delay: 0.6295s;
        }

        .windows8 #wBall_5 {
            animation-delay: 0.843s;
            -o-animation-delay: 0.843s;
            -ms-animation-delay: 0.843s;
            -webkit-animation-delay: 0.843s;
            -moz-animation-delay: 0.843s;
        }



    @@keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            transform: rotate(180deg);
            animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            transform: rotate(300deg);
            animation-timing-function: linear;
            origin: 0%;
        }

        30% {
            opacity: 1;
            transform: rotate(410deg);
            animation-timing-function: ease-in-out;
            origin: 7%;
        }

        39% {
            opacity: 1;
            transform: rotate(645deg);
            animation-timing-function: linear;
            origin: 30%;
        }

        70% {
            opacity: 1;
            transform: rotate(770deg);
            animation-timing-function: ease-out;
            origin: 39%;
        }

        75% {
            opacity: 1;
            transform: rotate(900deg);
            animation-timing-function: ease-out;
            origin: 70%;
        }

        76% {
            opacity: 0;
            transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            transform: rotate(900deg);
        }
    }

    @@-o-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -o-transform: rotate(180deg);
            -o-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -o-transform: rotate(300deg);
            -o-animation-timing-function: linear;
            -o-origin: 0%;
        }

        30% {
            opacity: 1;
            -o-transform: rotate(410deg);
            -o-animation-timing-function: ease-in-out;
            -o-origin: 7%;
        }

        39% {
            opacity: 1;
            -o-transform: rotate(645deg);
            -o-animation-timing-function: linear;
            -o-origin: 30%;
        }

        70% {
            opacity: 1;
            -o-transform: rotate(770deg);
            -o-animation-timing-function: ease-out;
            -o-origin: 39%;
        }

        75% {
            opacity: 1;
            -o-transform: rotate(900deg);
            -o-animation-timing-function: ease-out;
            -o-origin: 70%;
        }

        76% {
            opacity: 0;
            -o-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -o-transform: rotate(900deg);
        }
    }

    @@-ms-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -ms-transform: rotate(180deg);
            -ms-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -ms-transform: rotate(300deg);
            -ms-animation-timing-function: linear;
            -ms-origin: 0%;
        }

        30% {
            opacity: 1;
            -ms-transform: rotate(410deg);
            -ms-animation-timing-function: ease-in-out;
            -ms-origin: 7%;
        }

        39% {
            opacity: 1;
            -ms-transform: rotate(645deg);
            -ms-animation-timing-function: linear;
            -ms-origin: 30%;
        }

        70% {
            opacity: 1;
            -ms-transform: rotate(770deg);
            -ms-animation-timing-function: ease-out;
            -ms-origin: 39%;
        }

        75% {
            opacity: 1;
            -ms-transform: rotate(900deg);
            -ms-animation-timing-function: ease-out;
            -ms-origin: 70%;
        }

        76% {
            opacity: 0;
            -ms-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -ms-transform: rotate(900deg);
        }
    }

    @@-webkit-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -webkit-transform: rotate(180deg);
            -webkit-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -webkit-transform: rotate(300deg);
            -webkit-animation-timing-function: linear;
            -webkit-origin: 0%;
        }

        30% {
            opacity: 1;
            -webkit-transform: rotate(410deg);
            -webkit-animation-timing-function: ease-in-out;
            -webkit-origin: 7%;
        }

        39% {
            opacity: 1;
            -webkit-transform: rotate(645deg);
            -webkit-animation-timing-function: linear;
            -webkit-origin: 30%;
        }

        70% {
            opacity: 1;
            -webkit-transform: rotate(770deg);
            -webkit-animation-timing-function: ease-out;
            -webkit-origin: 39%;
        }

        75% {
            opacity: 1;
            -webkit-transform: rotate(900deg);
            -webkit-animation-timing-function: ease-out;
            -webkit-origin: 70%;
        }

        76% {
            opacity: 0;
            -webkit-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -webkit-transform: rotate(900deg);
        }
    }

    @@-moz-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -moz-transform: rotate(180deg);
            -moz-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -moz-transform: rotate(300deg);
            -moz-animation-timing-function: linear;
            -moz-origin: 0%;
        }

        30% {
            opacity: 1;
            -moz-transform: rotate(410deg);
            -moz-animation-timing-function: ease-in-out;
            -moz-origin: 7%;
        }

        39% {
            opacity: 1;
            -moz-transform: rotate(645deg);
            -moz-animation-timing-function: linear;
            -moz-origin: 30%;
        }

        70% {
            opacity: 1;
            -moz-transform: rotate(770deg);
            -moz-animation-timing-function: ease-out;
            -moz-origin: 39%;
        }

        75% {
            opacity: 1;
            -moz-transform: rotate(900deg);
            -moz-animation-timing-function: ease-out;
            -moz-origin: 70%;
        }

        76% {
            opacity: 0;
            -moz-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -moz-transform: rotate(900deg);
        }
    }
</style>

<div class="fullscreen" style="background-color: white"></div>
<div id="mapid" class="fullscreen">

</div>
<div id="loading" class="fullscreen">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<script>
    function loadData() {
        return fetch("/getData")
            .then(response => response.json());
    }

    (function () {
        var mymap = L.map('mapid').setView([48.137154, 11.576124], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        loadData()
            .then(data => {
                var markers = L.markerClusterGroup();
                data.forEach(item => {
                    var table = `<table style="width:100%" class="table table-striped">
                                    <tr>
                                    @foreach (var item in Environment.GetEnvironmentVariable("PERSON_DISPLAY_FIELDS_NAMES").Split(","))
                                    {
                                        <th>@item</th>
                                    }
                                    </tr>`;

                    item.person.forEach(person => {
                        table += `<tr>
                                    @foreach (var item in Environment.GetEnvironmentVariable("PERSON_DISPLAY_FIELDS_VALUES").Split(","))
                                    {
                                        @if (item == "age")
                                        {
                                            <td>` + (Math.abs(new Date(Date.now() - Date.parse(person.birthday)).getUTCFullYear() - 1970) || '-') + `</td>
                                        } else if (item == "picture") {
                                           <td><img src="` + person.picture	+ `" style="height: 20; width: 40px;"></td>
                                        } else
                                        {
                                            <td>` + person.@item + `</td>
                                            }
                                        }
                                    </tr>`;
                    });

                    table += '</table>';
                    table = `<div><strong>` + item.location.formattedAddress + `</strong></div><hr>` + table;

                    markers.addLayer(L.marker([item.location.latitude, item.location.longitude]).bindPopup(table));
                });
                mymap.addLayer(markers);
                $("#loading").remove();
            });
    })();
</script>